:root {
  --resedagreen: #6e8649;
  --ferngreen: #477023;
  --darkmoss: #2d531a;
  --pakistangreen: #0d330e;
}

* {
  margin: 0;
  padding: 0;
  font: 18px;
}
body {
  background-color: var(--ferngreen);
}
header {
  background-color: var(--pakistangreen);
  color: var(--resedagreen);
}
.container {
  background-color: var(--resedagreen);
  border: transparent;
  border-radius: 5px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  justify-content: center;
  width: 400px;
  padding: 30px;
  height: 400px;
}
.container:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
input {
  border: transparent;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
}
#nome-produto,
#botao {
  width: 80%;
}
#addprod {
  width: 140px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
  border: transparent;
  border-radius: 50px;
  background-color: var(--pakistangreen);
  color: white;
  cursor: pointer;
}
#addprod:hover {
  transition: 0.5s;
  transform: rotate(1.1deg) scale(1);
  box-shadow: 0.5px 2px 10px black;
}
#categs {
  margin: 7px;
}
#arquivo{
    border: transparent;
    padding: 5px;
}
h1,
h2 {
  padding: 20px;
  text-align: center;
}
#prods-container{
    text-align: center;
}
#produ,
ul {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  width: 260px;
  height: 240px;
}
select {
  padding: 3px;
  border-radius: 4px;
}
p {
  line-height: 1.65em;  
  text-align: center;
  padding: 20px;
}
li {
  list-style: none;
  background-color: var(--resedagreen);
  width: 200px;
  height: 260px;
  border: transparent;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  margin-top: 10px ;
}

li:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

}
a{
    background-color: rgba(255, 0, 0, 0.486);
    color: white;
    border-radius: 2px;
    padding: 3px;
    text-decoration: none;
}

