*{
    margin: 0;
    padding: 0;
    font: 18px;
}
body{
    background-color: #2fa2;
}
header{
    background-color: rgb(12, 207, 87);
}
.container{
    border: 2px solid black;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 15%;
    margin: 20px;
}
#addprod, #nome-produto , #botao{
    width: 8%;
}
#categs{
    margin: 7px;
}
h1{
    padding: 20px   ;
    text-align: center;
}