:root{
    --resedagreen: #6e8649;
    --ferngreen: #477023;
    --darkmoss: #2d531a;
    --pakistangreen: #0d330e;
}

*{
    margin: 0;
    padding: 0;
    font: 18px;
}
body{
    background-color: var(--ferngreen);
}
header{
    background-color: var(--pakistangreen);
    color: var(--resedagreen);
}
.container{
    background-color: var(--resedagreen);
    border: 2px solid black;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    justify-content: center;
    width: 400px;
    padding: 30px;
    height: 400px;
 
}
input{
    padding:5px;
    margin: 10px;
}
 #nome-produto , #botao{
    width: 80%;
}
#addprod{
    width: 140px;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    border: transparent;
    border-radius: 50px;
    background-color: var(--pakistangreen);
    color: white;
    cursor: pointer;
}
#addprod:hover{
    transition: 0.5s;
    transform: rotate(1.2deg) scale(1);
    box-shadow: 2px 4px 5px black;
}
#categs{
    margin: 7px;
}
h1, h2{
    padding: 20px;
    text-align: center;
}
#produ, ul{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center; 
    width: 200px;
    height: 200px;
}
p{
    text-align: center;
    padding: 20px;
}
li{
    list-style: none;
    width: 200px;
    height: 200px;
    border: 1px solid var(--pakistangreen);
    border-radius: 10px ;
    padding: 20px;
    margin: 5px;
}